# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# @him2 user specific buildinfo 
*.user

# @him2 build directories
src/findLocation/build/
src/getImage/build/
src/lookAtLocation/build/
src/applyLinearFilter/build/